@import "styles.scss";

.doctor-card-container {
  @include d-flex-a-stretch-fd-column;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffff;
  flex: 50%;
  width: 620px;

  .info-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 12px;
  }
}
