@import "styles.scss";

.doctor-details-card {
  @include d-flex-a-stretch-fd-column;
  gap: 12px;

  .header {
    @include d-flex-a-center-j-space-between;
    height: 44px;

    .back-button {
      height: 34px;
    }

    h6,name {
      width: 180px;
      height: 32px;
      color: #323d3e;
      font-weight: 500;
      margin: 0;
    }
  }

  .background {
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffff;
    padding: 16px;
  }
}
