<div class="tasks-list-container">
  <h4 class="mat-h4">Tasks</h4>
  <app-spinner [isLoading]="isLoading">
    <div class="display-list">
      <div class="list-content">
        @for (task of tasks; track task.id) {
          <app-tasks-card [task]="task" />
        } @empty {
          @if (isError) {
            <app-error />
          } @else {
            <p class="mat-caption">No tasks to display yet.</p>
          }
        }
      </div>
      <button
        *ngIf="!!tasks.length"
        mat-fab
        extended
        (click)="emitDisplayTasks()">
        {{ isShowMore ? 'Show More' : 'Show Less' }}
      </button>
    </div>
  </app-spinner>
</div>
