<div class="doctors-list-container">
  <h4 class="mat-h4">Doctors</h4>
  <app-spinner [isLoading]="isLoading">
    <div class="display-list">
      <div class="list-content">
        @for (doctor of doctors; track doctor.id) {
          <app-doctor-card [doctor]="doctor" />
        } @empty {
          @if (isError) {
            <app-error />
          } @else {
            <p class="mat-caption">No doctors to display yet.</p>
          }
        }
      </div>
      <button
        *ngIf="!!doctorsLength"
        mat-fab
        extended
        (click)="displayMoreLess()">
        {{
          this.doctorsDisplayed >= this.doctorsLength
            ? 'Show Less'
            : 'Show More'
        }}
      </button>
    </div>
  </app-spinner>
</div>
