@import "styles.scss";

.header {
  background: #ffff;
  height: 60px;
  @include d-flex-a-center-j-space-between;
  padding: 0 26px;
  margin-bottom: 24px;

  .logo-container {
    @include d-flex-a-center;

    .logo {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }

    h4 {
      color: #037f8c;
      margin: 0;
      font-weight: 500;
    }
  }
}
